footer.o-footer

    section.o-footerContacts
        .container.o-footerContacts__container
            .row.o-footerContacts__row
                .col-12.col-md-6.o-footerContacts__col
                    h4.o-footerContacts__title Kontaktní informace
                    .o-footerContacts__wrap
                        .o-footerContacts__single #[.a-icon.-phone.-white.o-footerContacts__icon] +420 727 877 380
                        .o-footerContacts__single #[.a-icon.-envelope.-white.o-footerContacts__icon] info@mojespani.cz

                .col-12.col-md-6.o-footerContacts__col

                    h4.o-footerContacts__title Doplňkové produkty

                    .o-footerContacts__Socialwrap
                        a.o-footerContacts__single(href="#") 
                            img(src=URLbase+"img/footerlogo1.svg")

             
                        a.o-footerContacts__single(href="#")
                            img(src=URLbase+"img/footerlogo2.svg")
            
            
    section.o-footerMain
        .container.o-footerMain__container
            .row.o-footerMain__row
                .col-6.col-sm-6.col-lg-3
                    h5.o-footerMain__title O nákupu
                    a.o-footerMain__link(href="#") Obchodní podmínky
                    a.o-footerMain__link(href="#") Jak nakupovat
                    a.o-footerMain__link(href="#") O společnosti
                    a.o-footerMain__link(href="#") Velkoochod

                .col-6.col-sm-6.col-lg-3
                    h5.o-footerMain__title Uživatelský účet
                    a.o-footerMain__link(href="#" data-toggle="modal" data-target="#modal-login") Přihlášení
                    a.o-footerMain__link(href="#") Vytvořit účet
                    a.o-footerMain__link(href="#") Zapomenuté údaje

                .col-6.col-sm-6.col-lg-3
                    h5.o-footerMain__title Další odkazy
                    a.o-footerMain__link(href="#") Ochrana osobních údajů
                    a.o-footerMain__link(href="#") Zásady používání cookie

                .col-6.col-sm-6.col-lg-3
                    h5.o-footerMain__title Kontakty
                    p.o-footerMain__text Kamila Dluhošová
                    p.o-footerMain__text Riegrova 857
                    p.o-footerMain__text 73801 Frýdek-Místek
                    p.o-footerMain__text Česká republika
                    a.o-footerMain__link(href="#") Více kontaktů
                    

section.o-copyright
    .container.o-copyright__container
        .o-copyright__wrap
            h5.o-copyright__h5 Copyright © 2018 #[a.o-copyright__link(href=metaURL) #{metaSitename}]
            h5.o-copyright__pull Vytvořeno v #[a.o-copyright__link(href=metaAuthorURL) #{metaAuthor}]