// Popper for Bootstrap support
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js")
script.
	if(typeof(Popper) === 'undefined') {
	document.write('<script src="#{URLbase}js/popper.min.js">\x3C/script>')}

// Bootstrap core JavaScript
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js")
script.
	if(typeof($.fn.modal) === 'undefined') {
	document.write('<script src="#{URLbase}js/bootstrap.min.js">\x3C/script>')}


// Custom js plugins and scripts
script(src=URLbase+"js/plugins/jquery.cookiebar.min.js")
script(src=URLbase+"js/plugins/jquery.easy-autocomplete.min.js")
script(src=URLbase+"js/plugins/lazyload.min.js")

script(src=URLbase+"js/scripts.min.js")

// Search autocomplete test
script.
	var options = {
		data: ["blue", "green", "pink", "red", "yellow"]
	};
	$("#searchbox").easyAutocomplete(options);

