doctype html
include partials/_variables.pug  
html(lang=lang)
    include partials/_header.pug  
    body
        include partials/_modal-login.pug
        header.o-header
            include partials/_navMain.pug
            
        section.o-hero.b-bgCover__wrap
            .container
                h1.o-hero__title Nechte si vyrobit #[.o-hero__titleWrap #[span.o-hero__titleBold vojenské identifikační známky]] podle vašich představ
                a.btn.o-hero__btn(href="#") Vybrat vlastní DOG TAG
            img.o-hero__img.b-bgCover__img(src=URLbase+"img/bg-hero.jpg" alt="#" title="#")






        section.o-sectionSale
            .container
                h1.o-sectionSale__title Jak to funguje

                .row
                    .col-12.col-md-4
                        .o-sectionSale__single
                            img.o-sectionSale__singleIcon(src=URLbase+"img/howto1.svg")
                            h3.o-sectionSale__singleTitle Vyber typ známky
                            p.o-sectionSale__singleText Zvol si typ psí známky, který ti sedí a nejvíce vyhovuje tvým požadavkům. Máme v nabídce několik provedení včetně barevných variant pro tlumítka
                    .col-12.col-md-4
                        .o-sectionSale__single
                            img.o-sectionSale__singleIcon(src=URLbase+"img/howto2.svg")
                            h3.o-sectionSale__singleTitle Doplň svůj obsah
                            p.o-sectionSale__singleText Zvol si typ psí známky, který ti sedí a nejvíce vyhovuje tvým požadavkům. Máme v nabídce několik provedení včetně barevných variant pro tlumítka
                    .col-12.col-md-4
                        .o-sectionSale__single
                            img.o-sectionSale__singleIcon(src=URLbase+"img/howto3.svg")
                            h3.o-sectionSale__singleTitle Objednej
                            p.o-sectionSale__singleText Zvol si typ psí známky, který ti sedí a nejvíce vyhovuje tvým požadavkům. Máme v nabídce několik provedení včetně barevných variant pro tlumítka


        main
            .container
                .o-productGrid

                    .o-productGrid__title Us dog tags

                    - for (var i=0; i<8; i++)
                        include partials/_single-product-cell.pug


                    .o-productGrid__title Medical dog tags

                    - for (var i=0; i<4; i++)
                        include partials/_single-product-cell.pug


                    .o-productGrid__title Doplňky

                    - for (var i=0; i<12; i++)
                        include partials/_single-product-cell.pug


        include partials/_footer.pug

        include partials/_js-include.pug

