doctype html
include partials/_variables.pug  
html(lang=lang)
    include partials/_header.pug  
    body
        include partials/_modal-login.pug
        header.o-header
            include partials/_navMain.pug


        include partials/_modal-add-to-cart.pug
        include partials/_modal-contact.pug
        include partials/_breadcrumb.pug

        section.o-productDetail
            .container
                .row
                    .col-12.col-lg-8
                        .o-productDetail__form
                            .o-productDetail__title Přizpůsobit první známku

                            .row
                                .col-12.col-md-6
                                    .o-productDetail__markImg               
                                        img(src=URLbase+"img/dogtag.png")
                                    .o-productDetail__markDescription
                                        span.o-productDetail__markDescriptionTitle Povolené znaky
                                        span.o-productDetail__markChars A-Z, 0-9, . () ” = ° & ‘ / -
                                        span.o-productDetail__markNote U řádku číslo 4 - krevní skupina, můžete namísto znaménka + použít text POS. (nebo positivní) 
                                        span.o-productDetail__markNotice Na známky Vám narazíme cokoli, dbejte prosím na správnost textu, po naražení již nelze text měnit 

                                .col-12.col-md-6
                                    .o-productDetail__formInner
                                        .o-form__group.m-formGroup
                                            input.m-formGroup__input(type="text" name="product_row1" id="product_row1" placeholder=" ")
                                            label.m-formGroup__label(for="product_row1") Jméno (Řádek 1)
                                            span.m-formGroup__error Neplatný údaj
                                            span.m-formGroup__success


                                        .o-form__group.m-formGroup
                                            input.m-formGroup__input(type="text" name="product_row2" id="product_row2" placeholder=" ")
                                            label.m-formGroup__label(for="product_row2") Příjmení (Řádek 2)
                                            span.m-formGroup__error Neplatný údaj
                                            span.m-formGroup__success


                                        .o-form__group.m-formGroup
                                            input.m-formGroup__input(type="text" name="product_row3" id="product_row3" placeholder=" ")
                                            label.m-formGroup__label(for="product_row3") Rodné číslo (Řádek 3)
                                            span.m-formGroup__error Neplatný údaj
                                            span.m-formGroup__success


                                        .o-form__group.m-formGroup
                                            input.m-formGroup__input(type="text" name="product_row4" id="product_row4" placeholder=" ")
                                            label.m-formGroup__label(for="product_row4") Krevní skupina (Řádek 4)
                                            span.m-formGroup__error Neplatný údaj
                                            span.m-formGroup__success


                                        .o-form__group.m-formGroup
                                            input.m-formGroup__input(type="text" name="product_row5" id="product_row5" placeholder=" ")
                                            label.m-formGroup__label(for="product_row5") Náboženské vyznání (Řádek 5)
                                            span.m-formGroup__error Neplatný údaj
                                            span.m-formGroup__success


                                        .o-productDetail_btns
                                            span.btn.btn-light(id="btn-center-1") Zarovnat na střed
                                            span.btn.btn-light(id="btn-left-1") Zarovnat doleva
                                            span.btn.btn-light(id="btn-remove-1") Vymazat text
                                            span.btn.btn-light(id="btn-copy-1") Kopírovat text




                    .col-12.col-lg-4
                        .o-productDetail__col
                            h1.m-productDetailMain__title U.S. DOG TAGS Stříbrná

                            .o-productDetail__carousel.m-productDetailCarousel

                            
                                .m-productDetailCarousel__gallery(itemscope itemtype="http://schema.org/ImageGallery")
                                    .swiper-container-horizontal.m-productDetailCarousel__content
                                        .swiper-wrapper.m-productDetailCarousel__wrap

                                            - for (var i=0; i<8; i++)
                                                .swiper-slide.m-productDetailCarousel__slide

                                                    figure.m-productDetailCarousel__figure(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                                                        a.m-productDetailCarousel__link(href=URLbase+"img/product-thumb-large.jpg" itemprop="contentUrl" data-size="1920x1920")
                                                            img.swiper-lazy.m-productDetailCarousel__img(data-src=URLbase+"img/product-thumb-large.jpg" itemprop="thumbnail" alt="Image description" data-index="1")
                                                            .swiper-lazy-preloader.m-productDetailCarousel__preloader
                                                        figcaption.m-productDetailCarousel__figcaption(itemprop="caption description") Popis obrázku 1

                                        .swiper-pagination.swiper-pagination-white.m-productDetailCarousel__swiperNav
                                        .swiper-button-prev.m-productDetailCarousel__swiperButton.-prev
                                        .swiper-button-next.m-productDetailCarousel__swiperButton.-next



                            .o-productDetail__thumbs.m-productDetailThumbs
                                .swiper-container-horizontal.m-productDetailThumbs__content                                  
                                    .swiper-wrapper.m-productDetailThumbs__wrap
                                    
                                        - for (var i=0; i<8; i++)
                                            .swiper-slide.m-productDetailThumbs__slide
                                                .m-productDetailThumbs__paddingWrap
                                                    figure.m-productDetailThumbs__figure
                                                        img.swiper-lazy.m-productDetailThumbs__img(data-src=URLbase+"img/product-thumb-small.jpg" alt="#")
                                                        .swiper-lazy-preloader.m-productDetailThumbs__preloader
                                                    figcaption.m-productDetailThumbs__figcaption(itemprop="caption description") Popis obrázku 1


                            .o-productDetail__main.m-productDetailMain

                                

    

        

                                .m-productDetailMain__stock 
                                    span.a-icon.-box.-green.m-productDetailMain__stockIcon
                                    span.m-productDetailMain__stockText Dostupné skladem

                                form.m-productDetailMain__form(method="post" name="product_detail_form" id="product_detail_form")

    




                                    .m-productDetailMain__priceWrap
                                        span.m-productDetailMain__priceOld 22 999 Kč
                                        h2.m-productDetailMain__priceMain 18 546 Kč
                                        span.m-productDetailMain__priceDPH 16 800 Kč bez DPH


                                    .m-productDetailMain__cta

                                        .m-productDetailMain__qty
                                            .m-numberStepper
                                                input.m-numberStepper__input(type="number" min="1" max="99" value="1" name="cart-item-single-qty")
                                                .m-numberStepper__btnUp
                                                    span.m-numberStepper__iconUp
                                                .m-numberStepper__btnDown
                                                    span.m-numberStepper__iconDown

                                        button.btn.m-productDetailMain__button(type="submit" name="buy-button") #[span.a-icon.-cart.-white.m-productDetailMain__icon] Do košíku

                                    .m-productDetailMain__info
                                        span.m-productDetailMain__id Katalogové číslo: ST16311018R


        section.o-sectionSale
            .container
                h1.o-sectionSale__title Jak to funguje

                .row
                    .col-12.col-md-4
                        .o-sectionSale__single
                            img.o-sectionSale__singleIcon(src=URLbase+"img/howto1.svg")
                            h3.o-sectionSale__singleTitle Vyber typ známky
                            p.o-sectionSale__singleText Zvol si typ psí známky, který ti sedí a nejvíce vyhovuje tvým požadavkům. Máme v nabídce několik provedení včetně barevných variant pro tlumítka
                    .col-12.col-md-4
                        .o-sectionSale__single
                            img.o-sectionSale__singleIcon(src=URLbase+"img/howto2.svg")
                            h3.o-sectionSale__singleTitle Doplň svůj obsah
                            p.o-sectionSale__singleText Zvol si typ psí známky, který ti sedí a nejvíce vyhovuje tvým požadavkům. Máme v nabídce několik provedení včetně barevných variant pro tlumítka
                    .col-12.col-md-4
                        .o-sectionSale__single
                            img.o-sectionSale__singleIcon(src=URLbase+"img/howto3.svg")
                            h3.o-sectionSale__singleTitle Objednej
                            p.o-sectionSale__singleText Zvol si typ psí známky, který ti sedí a nejvíce vyhovuje tvým požadavkům. Máme v nabídce několik provedení včetně barevných variant pro tlumítka



        .productDetailResponsive
            .productDetailResponsive__name
                p.productDetailResponsive__title #{ProductName}
                h3.productDetailResponsive__price #[span 16 989] Kč
            .productDetailResponsive__btn-wrap
                a.btn.productDetailResponsive__btn(onclick="$('#product_detail_form').submit();") Do košíku


        include partials/_footer.pug

        include partials/_js-include.pug

        script.
            $(function(){
                $(".m-numberStepper__btnUp").click(function(){
                    var SpinnerInput = $(this).closest('.m-numberStepper').find('.m-numberStepper__input');
                    if ($(SpinnerInput).val() < 99){
                        $(SpinnerInput).val( Number($(SpinnerInput).val()) + 1 );
                    }
                });
                $(".m-numberStepper__btnDown").click(function(){
                    var SpinnerInput = $(this).closest('.m-numberStepper').find('.m-numberStepper__input');
                    if ($(SpinnerInput).val() > 1){
                        $(SpinnerInput).val( Number($(SpinnerInput).val()) - 1 );
                    }
                });
            }); 
            //SWIPER PRODUCT
            var carousel_product = new Swiper('.m-productDetailCarousel__content', {
                lazy: true,
                spaceBetween: 0,
                grabCursor: true,
                zoom: false,
                loop: false,
                pagination: {
                    el: '.m-productDetailCarousel__swiperNav',
                    clickable: true,
                },
                navigation: {
                    nextEl: '.m-productDetailCarousel__swiperButton.-next',
                    prevEl: '.m-productDetailCarousel__swiperButton.-prev',
                }
            });

            var galleryThumbs = new Swiper('.m-productDetailThumbs__content', {
                spaceBetween: 10,
                lazy: true,
                centeredSlides: true,
                slidesPerView: '6',
                touchRatio: 0.2,
                slideToClickedSlide: true,
            });
            carousel_product.controller.control = galleryThumbs;
            galleryThumbs.controller.control = carousel_product;
                
            var carousel_variation = new Swiper('.m-productVariation__content', {
                lazy: true,
                spaceBetween: 10,
                grabCursor: false,
                slidesPerView: '4.5',
                zoom: false,
                loop: false,
                navigation: {
                    nextEl: '.m-productVariation__swiperButton.-next',
                    prevEl: '.m-productVariation__swiperButton.-prev',
                },
                breakpointsInverse: true,
                breakpoints: {
                    991: {
                    slidesPerView: '4.5',
                    touchRatio: 0 
                    },
                    500: {
                    slidesPerView: '3.5',
                    touchRatio: 0 
                    },
                    400: {
                    slidesPerView: '2.5',
                    touchRatio: 0 
                    },
                    0: {
                    slidesPerView: '2.5',
                    touchRatio: 0 
                    }
                } 
            });

            initPhotoSwipeFromDOM('.m-productDetailCarousel__gallery');
         
             
            $( ".pswp__button--arrow--left" ).click(function() {
                $( ".m-productDetailCarousel__swiperButton.-prev" ).click();
            });
            $( ".pswp__button--arrow--right" ).click(function() {
                $( ".m-productDetailCarousel__swiperButton.-next" ).click();
            });